.section-inicio {
        

        .carousel-caption{
       
                position: absolute;
                background-size: cover;
                text-align: left;
                bottom: 32rem;
                justify-content: flex-start;
                @extend .container;
                left: 0px;
                margin-left: 10rem;
                padding-bottom: 32px;
                margin-top: 30rem;
                

            
            h2 {
                font-size: 4.8rem;
 
            

            p {
                font-size: 1rem;
                margin-bottom: 60px;
                text-align: left;
                
            

                /*button{
                    $border-radius:            25px !default;              
                    $btn-padding-y:            15px;;
                    $btn-padding-x:             40px;
               }*/
        }
    

    }  
}
        .carousel-item{
            
            position: relative;
            text-align: center;
        }

        .carousel-indicators {

            justify-content: flex-start;
            bottom: 30rem;
            @extend .container;
        


                        button {
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 0.4rem;
                        height: 0.4rem;
                        padding: 5px;
                        color: transparent;
                        border: 0;
                        outline: none;
                        background-color: white;
                        opacity: 0.3;
                        border-radius: 25px;
                        pointer-events: visiblePainted;
                        border-bottom: 0em;

                    
                 } 

                            .active {
                            background-color: $color-primary;
                            opacity: 1;
                        }
                    
         }                   
}