/*-----------------------------------
    COLORS
-----------------------------------*/
$color-primary: #e0752f;
$primary: $color-primary;

/*-----------------------------------
    FONTS
-----------------------------------*/
$font-primary: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-lighter: 300;
/*-----------------------------------
    BUTTONS COSTUMIZE
-----------------------------------*/
/*
$border-radius:            25px !default;              
$btn-padding-y:            15px;;
$btn-padding-x:             40px;
$btn-link-color: white;

